
<table width="80%"  align="center" border="1" >
<tr ><td  ><{if $RPHOTO!=""}><img src="images/<{$RPHOTO}>"><{/if}></td><td  >
  <h1>Curriculum Vitae</h1>
   
  <table border="0" width="435">
      <tr>
	  <td class="comUserRankText">   
	  
<p  ><{$RCP}></p>
<p ><{$RVILLE}></p>
<p  ><{$RPAYS}></p>
</td>
<td class="comUserRankText">
<p ><{$GSM}> <{$RGSM}></p>
<p ><{$EMAIL}> <a href="mailto: <{$REMAIL}>"><{$REMAIL}></a></p>						               
</td>
      </tr>
    </table>
	
	
	</td></tr> 
<tr height="15"><td></td><td></td></tr>
<TR><td colspan="2" class="head"><{$ETAT}></td></TR>
<tr height="5"><td></td><td></td></tr>
<tr><td >  <{$TITRE}> </td><td > <{$RTITRE}></td></tr>
<tr><td > <{$NOM}></td><td> <{$RNOM}></td></tr>
<tr><td  > <{$PRENOM}></td><td> <{$RPRENOM}></td></tr>
<tr><td > <{$DATE}></td><td> <{$RJOUR}> - <{$RMOIS}> - <{$RANNEE}></td></tr>
<tr><td > <{$LIEU}></td><td> <{$RLIEU}></td></tr>
<tr><td > <{$NATIONALITE}></td><td> <{$RNATIONALITE}></td></tr>
<tr><td > <{$SITUATION}></td><td> <{$RSITUATION}></td></tr>
<tr height="8"><td></td><td></td></tr>
<tr><td colspan="2" class="head"><{$FORMATIONS}></td></TR>
<tr height="5"><td></td><td></td></tr>
<tr><td > <{$DOMAINE}></td><td> <{$RFORMATION}></td></tr>
<tr><td > <{$SPECIALITE}></td><td> <{$RSPECIALITE}></td></tr>
<tr><td > <{$NIVEAU}></td><td> <{$RNIVEAU}></td></tr>
<tr height="5"><td></td><td></td></tr>
<tr><td class="odd"> <{$PERIODE}></td><td class="odd"><{$DESCRIPTION}></td></tr>
<tr height="5"><td></td><td></td></tr>
<tr height="5"><td></td><td></td></tr>
<tr><td > <{$RPER1}></td><td><{$RDES1}></td></tr>
<tr><td > <{$RPER2}></td><td><{$RDES2}></td></tr>
<tr><td > <{$RPER3}></td><td><{$RDES3}></td></tr>
<tr><td > <{$RPER4}></td><td><{$RDES4}></td></tr>
<tr><td > <{$RPER5}></td><td><{$RDES5}></td></tr>
<tr><td > <{$RPER6}></td><td><{$RDES6}></td></tr>
<tr height="8"><td></td><td></td></tr>

<tr><td colspan="2" class="head"><{$EXPERIENCES}>  </td></tr>
<tr height="5"><td></td><td></td></tr>
<tr><td class="odd"> <{$PERIODE}></td><td class="odd"><{$DESCRIPTION}></td></tr>
<tr height="5"><td></td><td></td></tr>
<tr height="5"><td></td><td></td></tr>
<tr><td > <{$RPERI1}></td><td><{$RDESC1}></td></tr>
<tr><td > <{$RPERI2}></td><td><{$RDESC2}></td></tr>
<tr><td > <{$RPERI3}></td><td><{$RDESC3}></td></tr>
<tr><td > <{$RPERI4}></td><td><{$RDESC4}></td></tr>
<tr><td > <{$RPERI5}></td><td><{$RDESC5}></td></tr>
<tr><td > <{$RPERI6}></td><td><{$RDESC6}></td></tr>
<tr><td > <{$RPERI7}></td><td><{$RDESC7}></td></tr>
<tr><td > <{$RPERI8}></td><td><{$RDESC8}></td></tr>
<tr><td > <{$RPERI9}></td><td><{$RDESC9}></td></tr>
<tr><td > <{$RPERI10}></td><td><{$RDESC10}></td></tr>
<tr><td > <{$EXPERIENCE}></td><td> <{$REXPERIENCE}></td></tr>
<tr><td > <{$ACTUELLEMENT}></td><td> <{$RACTUELLEMENT}></td></tr>
<tr><td > <{$PERMIS}></td><td> <{$RPERMIS}></td></tr>
<tr height="8"><td></td><td></td></tr>
<tr><td colspan="2" class="head"><{$LANGUES}> </td></tr>
<tr height="5"><td></td><td></td></tr>
<tr><td ><{$RLANGUE1}> </td><td><{$ROPTION1}></td></tr>
<tr><td ><{$RLANGUE2}> </td><td><{$ROPTION2}></td></tr>
<tr><td ><{$RLANGUE3}> </td><td><{$ROPTION3}></td></tr>
<tr><td ><{$RLANGUE4}> </td><td><{$ROPTION4}></td></tr>
<tr><td ><{$RLANGUE5}> </td><td><{$ROPTION5}></td></tr>
<tr><td ><{$RLANGUE6}> </td><td><{$ROPTION6}></td></tr>
<tr height="8"><td></td><td></td></tr>
<tr><td colspan="2" class="head"><{$COMPETENCES}></td></tr>
<tr height="5"><td></td><td></td></tr>
<tr><td > <{$RCOMP1}></td><td><{$RDESCR1}></td></tr>
<tr><td > <{$RCOMP2}></td><td><{$RDESCR2}></td></tr>
<tr height="8"><td></td><td></td></tr>
<tr><td colspan="2" class="head"><{$LOISIRS}></td></tr>
<tr height="5"><td></td><td></td></tr>
<tr><td ><{$RLOISIR1}> </td><td></td></tr>
<tr><td ><{$RLOISIR2}> </td><td></td></tr>
<tr><td ><{$RLOISIR3}> </td><td></td></tr>
</table>
<br><br>